h1{
  text-align: center;
}
.work{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.action-line{
  display: grid;
  grid-template-columns: auto auto;
}
.createInWork{
  border: 1px solid #000;
  width: 50px;
  border-radius: 5px;
  text-align: center;
  vertical-align: center;
  background-color: #ffaa00;
}
@import "./card";